<%- include("partials/header.ejs") %>

<div class="main-content">
    <!-- ---------- Header ----------------------------- -->
    <div class="title">
        <h1>
            Sergio De Oliveira
        </h1>
        <h2>
            Books I've Read
        </h2>
        <p>
            Tiny summary but detailed notes for each book. Use the ISBN number to find it from your local library or anywhere else. This page will constantly update as I read more, so bookmark it if you want to check back in a few months.
        </p>
        <div class="sorted-by">
            <p>Sorte by:
                <a href="/">Best</a>
                <a href="/title">Title</a>
                <a href="/newest">Newest</a>
            </p>
        </div>
    </div>
    <hr>

    <!-- --------------------- Books Section ---------------------- -->
    <section id="all-books">
        <% for(let book of listBooks) { %>
            <div class="book">
                <figure>
                    <a href="/<%= book.id %>">
                        <img src="/images/<%= book.isbn %>-M.jpg" loading="lazy" alt="<%= book.book_title %>">
                    </a>
                </figure>
                <h2>
                    <a href="/<%= book.id %>"><%= book.book_title %> - by <%= book.author_name %></a>
                </h2>
                <small>
                    Date Read: <%= book.date_read.toString().slice(0, 15) %> |
                </small>
                <small>
                    My Score: <strong><%= book.score %></strong>/10
                </small>
                <p>
                    <%= book.book_review %>                    
                </p>
                <p class="read-note">
                    <strong>
                        <a href="/<%= book.id %>">Ready my notes</a>
                    </strong>
                </p>
            </div>
            <hr>
        <% } %>

    </section>
</div>

<%- include("partials/footer.ejs") %>